// sass --watch sass/main.scss:css/main.css --style compressed

@import 'h5bp';
@import 'fonts';
@import 'bourbon/bourbon';
@import 'neat/neat';

$pesticide-debug: false;
@import 'components/components';

// main styles
$border-header-top-color: #f0622e;

//CODE
body {
  min-width: 1024px;
  font-family: pf_beausans_pro_reg;
  border-top: 3px solid $border-header-top-color;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: pf_beausans_pro_sebold;
  font-size: em(18);

  margin: 30px 0;

  span {
    position: relative;
    background: #f65831;
    color: #fff;
    padding: 3px;
  }
  span:before {
    @extend .arrow-h;
    left: -5px;
    top: 0;
    border-right:6px solid #f65831 !important;
  }

  span:after {
    @extend .arrow-h;
    right: -6px;
    top: 0;
    border-left: 6px solid #f65831 !important;
  }
}