// sass --watch sass/main.scss:css/main.css --style compressed

@import 'h5bp';
@import 'fonts';
@import 'bourbon/bourbon';
@import 'neat/neat';

$pesticide-debug: true;
@import 'components/components';

// main styles
$border-header-top-color: #f0622e;

body {
  min-width: 1024px;
  font-family: pf_beausans_pro_reg;
  border-top: 3px solid $border-header-top-color;
}