//Extended
.icon {
  margin-top: -1px;
  margin-right: 3px;
  padding: 5px 3px;
  float: left;
  display: block;
  width: 20px;
  height: 22px;
}

.arrow {
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  position: absolute;

}

//CODE
header {
  background: url("../images/header/bg.jpg") no-repeat center top;
  background-size: cover;

  #header-section {
    @include outer-container;
    background: url("../images/header/section-background.png") no-repeat;
    background-size: cover;
    min-height: 540px;


    section {
      @include span-columns(12);
      @include shift(0);
      position: relative;
      margin: 0 auto;

      width: 1000px;

      .top_info {
        @include span-columns(6 of 11);
        @include shift(6);
        padding-top: 44px;
      }

      .logo {
        background: url("../images/header/logo.png") no-repeat;
        background-size: cover;
        display: block;
        width: 96px;
        height: 59px;
        float: right;
        margin-top:-17px;
      }

      nav {
        @include shift(1);
      }

      a {
        float: left;
        margin-right: 5px;
        width: 180px;
        display: block;
        color: #9c9080;
        font-size: em(15);
        text-decoration: none;
      }
      span {
        background: #fff;
        padding: 2px 5px;
      }

      a:first-child {
        width: 180px;
        i {
          @extend .icon;
          background: #fff url("../images/icons/phone.png") no-repeat center center;
        }
      }

      a:nth-child(2) {
        color: #fff;
        span {background: #f0622e;}
        i {
          @extend .icon;
          width: 20px;
          padding-right: 4px;
          background: #f0622e url("../images/icons/mail.png") no-repeat center center;
        }
      }

      h1 {
        @include span-columns(5 of 12);
        @include shift(0);
        margin-top: -10px;
        font-size: em(17);
        font-family: pf_beausans_pro_bold;
        color: #f0622e;
        text-transform: uppercase !important;
      }

    }

    form {
      position: absolute;
      top: 210px;
      left: 360px;

      input {
        @include placeholder {
          color: #e78752;
        }

        text-align: center;

        border:none;
        outline: none;
        float: left;
        clear: both;
        margin-left: 110px;
        margin-bottom: 45px;
        width: 140px;
      }

      input[type="submit"] {
        background: url("../images/header/submit.png") no-repeat;
        height: 35px;
        margin-left: 120px;
        margin-top: -5px;
      }

    }


    .main-info {
      clear: both;
      width: 100%;
      position: relative;

      li {
        list-style: none;
        position: absolute;
        font-size: em(16);
        line-height: 17px;
        padding: 3px;
      }

      div:first-child {
        span {
          background: #756f71;
          color: #fff;
          padding: 2px 3px;
        }
        span span {
          color: #f0deb3;
        }
        li {
          text-align: right;
        }

        li:before {
          @extend .arrow;
          right: -5px !important;
          border-left:8px solid #756f71;
        }

        .marked {
          background: #fff !important;
          color: #f0622e !important;
        }

        .marked-have:before {
          @extend .arrow;
          right: -5px;
          border-left:8px solid #fff !important;
        }

        li:nth-child(1){
          top:125px;
          left: 60px;
          width: 320px;
        }

        li:nth-child(2){
          top: 190px;
          left: 160px;
        }

        li:nth-child(3){
          top: 265px;
          left: 120px;
          width: 320px;
        }

      }

      div:last-child {

        li:before {
          @extend .arrow;
          left: -5px;
          border-right:8px solid #f37802;
        }

        .marked-have:before {
         @extend .arrow;
          left: -5px;
          border-right:8px solid #fff !important;
        }

        span {
//          width: 290px;
          background: #f37802;
          color: #fff;
          padding: 2px 3px;
        }

        .marked {
          background: #fff !important;
          color: #f0622e !important;
        }

        li:nth-child(1) {
          right: 0;
          top:-5px;
          width: 290px;
        }

        li:nth-child(2) {
          right: 95px;
          top: 66px;
          color: #f0622e !important;
        }

        li:nth-child(3) {
          right: 0;
          top:125px;
          width: 290px;
        }

        li:nth-child(4) {
          right: 0;
          top:192px;
          width: 290px;
        }


      }

    }

  }
}