#slide-5 {
  background: url("../images/mid_background.jpg") no-repeat top center;
  background-size: cover;
  min-height: 115px;
  -webkit-box-shadow: inset 0px 2px 15px 0px rgba(50, 50, 50, 0.49);
  -moz-box-shadow:    inset 0px 2px 15px 0px rgba(50, 50, 50, 0.49);
  box-shadow:         inset 0px 2px 15px 0px rgba(50, 50, 50, 0.49);
}