#slide-6 {
  background: #eae5db;
  border-top: 1px solid #fff;
  padding-bottom: 30px;

  section {
    @include outer-container;
    
    .workflow {
      @include span-columns(12);
      background: url("../images/workflow.jpg") no-repeat center center;
      min-height: 100px;
      margin-top: -60px;
      padding-top: 130px;

      span {
        @include span-columns(2);
        color: #756f71;
        font-size: em(14);
        line-height: 14px;
        font-family: pf_beausans_pro_reg;
        text-align: center;
      }

      span:nth-child(1) {margin-left: 120px;}
      span:nth-child(2) {margin-left: 50px;}
      span:nth-child(3) {margin-left: 30px;}
      span:nth-child(4) {margin-left: 30px;}


    }

  }

}
